[Desktop Entry]
Version=1.0
Name=GPU Mode Intermédiaire
Comment=Activer le mode Intermédiaire (200W)
Exec=pkexec /bin/bash -c "/home/yo/Desktop/code/nvidia/gpu-tuning.sh med && sudo /home/yo/Desktop/code/nvidia/gpuconfig.sh med"
Icon=battery-good
Path=/home/yo/Desktop/code/nvidia/
Terminal=false
Type=Application
Categories=Utility;