[Desktop Entry]
Version=1.0
Name=GPU Mode Eco
Comment=Activer le mode Eco (100W)
Exec=pkexec /bin/bash -c "/home/yo/Desktop/code/nvidia/gpu-tuning.sh eco && sudo /home/yo/Desktop/code/nvidia/gpuconfig.sh eco"
Icon=battery-low
Path=/home/yo/Desktop/code/nvidia/
Terminal=false
Type=Application
Categories=Utility;